*{
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1140px;
    
    margin: 0 auto;
}
.header{
    background-color: #222222;
    
    
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.logo{
    margin-right: 40px;
}
.acc{
    margin:0 33px;
}
.card{
    position: relative;
}
.card::after{
    content: "5";
    position: absolute;
    color: white;
    background-color:#F16D7F;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    text-align: center;
    left:20px;
    bottom: 20px;
    font-size: 12px;
}

/*main*/
.top-wrapper{
    background-color: #f1e4e6;
}
/*top*/
.top{
    display: flex;
    height: 760px;
    
}
.top-left{
    background-image: url(../img/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 1;
}
.top-right{
    align-self: center;
    flex-grow: 0.3;
    
}
.top-right__wrapper{
    position: relative;
    
}
.top-right__wrapper::before{
    content:"";
    position: absolute;
    display: inline-block;
    left: -28px;
    width: 12px;
    height: 100%;
    background-color: #F16D7F;
}
.top-heading{
    font-size: 37px;
    font-weight: 700;
}
.top-heaing__content{
    font-size: 20px;
}
.top-heaing__content span{
    color: #f16d7f;
}
/*Offer*/
.offers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 65px;
}
.offer{
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(60%);
}
.offer:nth-child(1){
    background-image: url(../img/offer/1_bg.jpg);
    background-repeat: no-repeat;
}
.offer:nth-child(2){
    background-image: url(../img/offer/2_bg.jpg);
    background-repeat: no-repeat;
}
.offer:nth-child(3){
    background-image: url(../img/offer/3_bg.jpg);
    background-repeat: no-repeat;
}
.offer:nth-child(4){
    background-image: url(../img//offer/bg_4.jpg);
    background-repeat: no-repeat;
}
.offer:last-child{
    width: auto;
    height: 180px;
    grid-column: 1 / -1;
}
.offer-content{
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    filter:contrast(2);
}
.offer-content span{
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
}
/*product*/
.product__heading{
    text-align: center;
    color: #222222;
    font-size: 30px;
    font-weight: 400;
}
.product__heading span{
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
}
.product__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.product__card{
    width: 360px;
    background-color: #f8f8f8;
}
.product__card-images{
    position: relative;
}
.add-cart__wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.add-cart{
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    color: white;
    padding: 10px;
    border: solid 1px white;
}
.add-cart span{
    padding-left: 12px;
}
.product__card-images:hover .add-cart{
    display: flex;
}
.product__card-images:hover .product__cart-bg{
    filter: brightness(50%);
}
.product__content{
    padding: 18px 19px;
}
.product__card-heading{
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.product__card-discription{
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 14px 0;
}
.product__card-price{
    color: #f16d7f;
    font-size: 16px;
    font-weight: 400;
}
.wrapper-btn__more-profuct{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0 100px 0;
}
.btn__more-profuct{
    text-decoration: none;
    color: #f26376;
    font-size: 16px;
    font-weight: 400;
    padding:15px 40px;
    border: 1px solid #ff6a6a;
}
.btn__more-profuct:hover{
    background-color: #ff6a6a;
    color: white;
}
.feature{
    background-color: #222224;
}
.feature__cards{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.feature__card{
    width: 360px;
    text-align: center;
    padding: 100px 0;
}
.feature__card-heading{
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 400;
}
.feature__card-discription{
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
}
.feature__icon{
    height: 45px;
    width: auto;
}
/*subscrabe*/
.subscribe{
    padding: 100px 0 130px 0;
    background-image: url(../img/bg-subscrabe.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe__flex{
    display: flex;
    justify-content: space-between ;
}
.subscribe__left{
    width: 360px;
    text-align: center;
    margin-right: 230px;
}
.quote{
    color: #222224;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
.subscribe__right{
    align-self: center;
    margin-left: 100px;
    text-align: center;
}
.subscribe__right-heading{
    color: #222224;
    font-size: 24px;
    font-weight: 400;
    font-weight: 700;
}
.subscribe__right-text{
    font-weight: 400;
    color: #222224;
    font-size: 18px;
}
.form-email{
    display: flex;
}
.input-email{
    border: none;
    padding:  7px 64px 7px  22px;
    background-color: #e1e1e1;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
}
.input-email::placeholder{
    opacity: 0.67;
    font-size: 14px;
    font-weight: 400;
    
}
.subcrabe-btn{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background-color: #f16d7f;
    text-decoration: none;
    padding: 8px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
}
/*footer*/
.footer{
    background-color:#222224;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.soc-link{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: black;
    text-align: center; 
}
.soc-link img{
    fill: black;
    padding-top: 8px;
}
.soc-link:hover{
    background-color:#F16D7F;
}
.copytate{
    color: #fbfbfb;
    font-size: 16px;
    font-weight: 400;
}

/*--------------- catalog -------------*/

.product__cards-catalog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}
.top-catalog{
    background: #F8F3F4;
}
.top-catalog__wrapper{
    display: flex;
    height: 148px;
    align-items: center;
    justify-content: space-between;
    
}
.heading__catalog{
    color: #F16D7F;
}
.shop-derections{
    display: flex;
    
}
.shop-derections__item{
    list-style-type: none;
    
}

.shop-derections__link{
    color: #636363;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
}
.shop-derections__link-last{
    color: #F16D7F;
    font-weight: 700;
    
}
.navigation-catalog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 16px;
}
.mini__filter:nth-child(2){
    padding:0 28px;
}
.mini__filter{
    color: #6F6E6E;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}
.mini__filter::after{
    content: url(../img/arrows.svg);
    padding-left: 10px;
}
.filter{
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
.pagination{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
    
    
}
.pages{
    display: flex;
    padding: 15px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    align-items: center;
    margin: 0;
}
.pages-number:not(last-child){
    padding-left: 10px;
    list-style-type: none;
}
.pages-number:nth-child(7)::after{
    content: url(../img/arr2.svg);
    padding-left: 10px;
    cursor: pointer;
}
.pages-number:nth-child(1):before{
    content: url(../img/arr1.svg);
    padding-right: 10px;
    cursor: pointer;
    
}
.pages-link{
    text-decoration: none;
    color: #C4C4C4;
}
.pages-number:nth-child(6):before{
    content: "...";
    padding-right:10px;
    color: #C4C4C4;
}
.pages-link--active{
    color:#EF5B70 ;
}

@media (max-width: 1600px) {
    /*Header*/
    .acc{
        margin:0 42px 0 25px;
    }
    /*product cards*/
    .product__cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }
    
    .subscribe__flex{
        flex-direction: column;
        align-items: center;
    }
    .subscribe__left{
        margin: 0;
    }
    .subscribe__right{
        margin: 0;
    }
    .product__card:last-child{
        display: none;
    }
    
}
@media (max-width: 1200px) {
    /*Header*/
    .header{
        padding: 0 32px;
    }

    .top-left{
        margin-left: 120px;
    }

    .top{
        height: 600px;
    }
    .top-right{
        padding-right: 32px;
    }
    /*offer*/
    .offers{
        padding: 16px;
    }
    .feature__card{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navigation-catalog{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container{
        padding:0 16px;
    }
}
@media (max-width: 768px){
    .feature__cards{
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
    }
    .feature__card{
        padding:25px 0;
    }
    
    .top{
        height: 370px;
    }
    /*offers*/
    .offers{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .offer{
        background-position: 0 0;
        background-size: cover;
    }

    .product__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__wrapper{
        flex-direction: column;
    }
    .filter{
        display: none;
    }
    .filter-btn{
        width: 37px;
        height: 25px;
    }
    .navigation-catalog{
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 600px){
    .top-right{
        padding-right: 0;
        flex-grow:0; 
    }
    .top-left{
        margin-left: 0;
        display: none;
    }
    .top{
        justify-content: center;
    }
    .top-catalog__wrapper{
        flex-direction: column;
    }
    .heading__catalog{
        margin-bottom: 0;
    }
    .top-catalog__wrapper{
        justify-content: center;
    }
    .shop-derections{
        padding-left: 0;
    }
    
}
@media (max-width: 425px) {
    /*Header*/
    .acc{
        display: none;
    }
    .card{
        display: none;
    }
    .header{
        padding: 0 16px;
    }
    .mini__filter::after{
        padding-left: 5px;
    }
    .mini__filter:nth-child(2){
        padding: 0 15px;
    }
}